/* Add here your CSS commands */
body {
	width: 960px;
	margin: 0 auto;
	font-family: "Arial", sans-serif;
	font-family: "Arial", sans-serif;
	background-image: url(Bise-back-short.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	margin: 0 auto;
	color:#4C4C4C;
}
body.section-index,
body.section-bise{
	background-image: url("Bise-back-main.jpg");
}
a,
a:link {
	border-bottom: 0px !important;
}
a:hover{
	text-decoration: underline;
}

#visual-portal-wrapper{
	width: 100%;
}
#portal-top,
#portal-columns,
#portal-footer-wrapper{
	width: 960px;
	margin: 0 auto;
}
#portal-header li{
	display: inline-block;
}
#portal-logo {
	margin-top: 2px;
}
#wrap_logoBiseShadow {
	position: absolute;
	width: 133px;
	height: 44px;
	top: 0;
	z-index: -100;
	-webkit-box-shadow: 3px 0 15px #CCC, -3px 0 15px #CCC;
	-moz-box-shadow: 3px 0 15px #CCC, -3px 0 15px #CCC;
	box-shadow: 3px 0 15px #CCC, -3px 0 15px #CCC;
}
#portal-personaltools-wrapper a{
	color: #0a7223;
}
#personalbar-options{
	float:right;
	margin-top: 20px;
	font-size: 12px;
}
#personalbar-options li{
	padding: 0.3em;
}
#portal-personaltools {
	background-color: transparent;
	padding: 0px;
	font-size: 100%;
	margin-top: 24px;
	font-size: 12px;
}
#searchbar-options{
	float:right;

}
#searchForm{
	width: 180px !important;
	margin-top: 10px;
}
#portal-personaltools dd {
	background-color: white;
}
#portal-globalnav {
	height: 5em;
}
#portal-globalnav{
	width: 960px;
	margin-top: -20px;
	background: none;
}
#portal-globalnav li{
	width: 16.4%;
}
#portal-globalnav li div{
	height: 35px;
	width: 100%;
	font-size: 18px;
	padding-top: 15px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#portal-globalnav li a,
#portal-globalnav li a:hover
{
	padding: 0px;
	width: 100%;
	color: #000;
	text-align: center;
	font-size: 18px;
	background: none;
	border-right: 0px;
}
#portal-globalnav li div#portaltab-topics {
	background-image: url(Topics-bg.png);
	background-repeat: repeat-x;
}
#portal-globalnav li div#portaltab-policy {
	background-image: url(Policy-bg.png);
	background-repeat: repeat-x;
}
#portal-globalnav li div#portaltab-data {
	background-image: url(Data-bg.png);
	background-repeat: repeat-x;
}
#portal-globalnav li div#portaltab-research {
	background-image: url(Research-bg.png);
	background-repeat: repeat-x;
}
#portal-globalnav li div#portaltab-countries_and_networks {
	background-image: url(Countries-bg.png);
	background-repeat: repeat-x;
}
#portal-globalnav li div#portaltab-networks {
	background-image: url(Networks-bg.png);
	background-repeat: repeat-x;
}




#content h1.documentFirstHeading{
	margin-top: -20px;
	color: #168130;
	border-bottom: 1px solid #168130;
}
body.section-topics #content h1.documentFirstHeading {
	color: #f4b409;
	border-bottom: 1px solid #f4b409 !important;
}
body.section-policy #content h1.documentFirstHeading {
	color: #ef7153;
	border-bottom: 1px solid #ef7153 !important;
}
body.section-data #content h1.documentFirstHeading {
	color: #7fba46;
	border-bottom: 1px solid #7fba46 !important;
}
body.section-data #content h1.documentFirstHeading {
	color: #3fafdb;
	border-bottom: 1px solid #3fafdb !important;
}
body.section-countries_and_networks #content h1.documentFirstHeading {
	color: #8F68DA;
	border-bottom: 1px solid #8F68DA !important;
}
body.section-countries_and_networks #content h1.documentFirstHeading {
	color: #d5dbcd;
	border-bottom: 1px solid #d5dbcd !important;
}
#content-core h3{
	border-bottom: 1px solid #e9efcd;
}
#content a,
#content a:link{
	color: #286d4e;
	border-bottom: 0px !important;
}
#content a:visited{
	color: #693;
	border-bottom: 0px !important;
}
#content a:hover{
	color: #00527c;
	border-bottom: 0px !important;
}
#content ul{
	list-style-image: url(bullet-col.png);
	margin-left: 2em;
	padding-left: 1em;
}

#portal-column-one{
	margin-top: 28px;
}
dl.portlet dt{
	background-color: transparent;
}
dl.portlet dt a:link,
dl.portlet dt a:hover,
dl.portlet dt a:visited {
	color: #168130;
	border-bottom: 1px solid #BAE2FF;
}
#portal-footer{
	background-image: url(Bise-back-footer.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 22em;
	width: 960px;
	text-align: center;
}
#imgFooterLogos{
	padding-top: 9em;
}
.portletGalleryPortlet .portletItem{
	background-image: url(bise-back-gallery.png);
	background-repeat: no-repeat;
	background-position: bottom center;
}
.portletGalleryPortlet .portletItem div:first-child{
	border: 10px solid white;
}
.collage-row .row_1 .block_2 h1{
	color: #fff;
	font-size:37px;
	text-align: left;
	font-family: 'Asap', sans-serif;
	font-weight: bold;
	font-style: italic;
}
.collage-row .row_1 .block_2 h2{
	color: #fff;
	text-align: left;
	font-family: 'Asap', sans-serif;
	font-size: 17px;
}
.collage-row .row_2 .portletHeader span{
	color: #158140;
	font-family: 'Asap', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 22px;
}
.collage-row .row_2 .portletItem ul{
	font-size: 14px;
	list-style-image: url(Bise-bullet.png) !important;
	margin-left: 0px !important;
	padding-left: 0px !important;
}
.collage-row .row_2 .portletItem{
	font-size: 14px;
}